@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #2b2b2b;
  color: "#fff";
}

.container {
  color: #fff;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: 30px auto;
  overflow: auto;
  min-height: 2700px;
  border: 1px solid white;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.content {
  padding-top: 5em;
}

hr {
  color: #fff;
  margin: 2em 0;
}

ol {
  text-align: left;
  padding-left: 5em;
  line-height: 2em;
}

.list-header {
  text-decoration: underline;
}

.note {
  text-align: right;
  font-size: 0.5em;
  margin-left: 15em;
}

img.resize {
  border-radius: 20px;
  max-width: 50%;
  max-height: 50%;
}

img.resize2 {
  border-radius: 20px;
  max-width: 66%;
  max-height: 66%;
}

#grad1 {
  border-radius: 20px;
  height:150px;
  background-color: #555555;
  background-image: linear-gradient(gray,blue);
}

#grad2 {
  border-radius: 20px;
  height:178px;
  background-color: #555555;
  background-image: linear-gradient(blue,green);
}

#grad3 {
  border-radius: 20px;
  height:186px;
  background-color: #555555;
  background-image: linear-gradient(green,white);
}

#grad4 {
  border-radius: 20px;
  height:190px;
  background-color: #555555;
  background-image: linear-gradient(white,lightblue);
}

#grad5 {
  border-radius: 20px;
  height:150px;
  background-color: #555555;
  background-image: linear-gradient(darkgreen,gray);
}

#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}